$background-1: #202225;
$background-2: #313336;
$background-3: #3b3d3f;
$border-1: #666666;
$light: #fff;
$primary: #ffc77d;
$secondary: #00ffff;
$dark: #000;

$mgBottom: 5rem;

$mobileWidth: 992px;

$largeScreenWidth: 1282px;