$primary: #202225;
$secondary: rgba(255, 255, 255, .08);
$tertiary: #3b3d3f;
$text-primary: #fff;
$text-secondary: #ffc77d;
$text-tertiary: #00ffff;
$dark: #000;

$mgBottom: 5rem;

$mobileWidth: 992px;

$largeScreenWidth: 1282px;